mixin satisfaction-chart(great_num, good_num, satisfactorily_num, unsatisfactorily_num)
	div(class!=attributes.class)
		.satisfaction-chart__title Впечатления от номера
		.satisfaction-chart__body
			.satisfaction-chart__graph
				canvas(width='120', height='120' class='satisfaction-chart__graph-border')
				.satisfaction-chart__graph-inner
					.satisfaction-chart__total= great_num + good_num + satisfactorily_num + unsatisfactorily_num
					.satisfaction-chart__total-label
			.satisfaction-chart__keyword
				.satisfaction-chart__great
					.satisfaction-chart__grade-marker
					.satisfaction-chart__grade-label Великолепно
					.satisfaction-chart__grade-value= great_num
				.satisfaction-chart__good
					.satisfaction-chart__grade-marker
					.satisfaction-chart__grade-label Хорошо
					.satisfaction-chart__grade-value= good_num
				.satisfaction-chart__satisfactorily
					.satisfaction-chart__grade-marker
					.satisfaction-chart__grade-label Удовлетворительно
					.satisfaction-chart__grade-value= satisfactorily_num
				.satisfaction-chart__unsatisfactorily
					.satisfaction-chart__grade-marker
					.satisfaction-chart__grade-label Разочарован
					.satisfaction-chart__grade-value= unsatisfactorily_num