mixin card-room(room_number, quality, price, stars, reviews_quantity, reviews_unit)
	div(class!=attributes.class)
		.card-room__main
			.card-room__nav-buttons
				button.card-room__button-prev keyboard_arrow_left
				button.card-room__button-next keyboard_arrow_right
			.card-room__nav-map
				.card-room__nav-circle--selected
				.card-room__nav-circle
				.card-room__nav-circle
				.card-room__nav-circle
		.card-room__footer
			.card-room__room-details
				.card-room__room-location
					.card-room__room-number= room_number
					.card-room__room-quality= quality
				.card-room__room-price
					.card-room__price-view
						.card-room__day-price= price
						.card-room__rur-symbol &#8381;
					.card-room__unit в сутки
			.card-room__delimiter
			.card-room__review-block
				case stars
					when 4
						+rate-button(class='rate-button--four')
					when 5
						+rate-button(class='rate-button--five')
				.card-room__reviews
					.card-room_reviews-quantity= reviews_quantity
					.card-room_reviews-unit= reviews_unit